body {
    background-color: #333;
    color: #fff;
}

.content {
    width: 50%;
    margin: auto;
}

.listTitle {
    text-align: center;
    width: 100%;
    display: block;
    font-family: sans-serif;
    font-size: xx-large;
}

.todoItem {
    zoom: 2;
    background-color: #111;
    margin: 10px;
    padding: 10px 10px 0 10px;
    clear: left;
    height: 30px;
}

.todoCheckBox {
    float: left;
    width: 30px;
    height: 30px;
}

.todoText {
    float: left;
    height: 30px;
    width: calc(80% - 30px);
    font-size: large;
}

.filterControl {
    position: absolute;
    top: 5px;
    right: 20%;
}